<?xml version="1.0"?>
<!-- ROSPlan turtlebot demo; requires turtlebot_gazebo -->
<launch>


	<!-- turtlebot simulation -->
<!-- 	<include file="$(find mrp_cm14)/launch/cm14_movebase_redone_sim.launch" >
	</include>
 -->

	<!-- visualisation -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosplan_demos)/rviz/turtlebot.rviz">	</node> -->

	<!-- ROSPlan -->
	<node pkg="rosplan_demos" type="deleteDB.bash" name="deletedb" output="screen"/>
	<include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
		<arg name="domain_path"		value="$(find rosplan_demos)/common/domain_multi_drone.pddl" />
	</include>

	<!-- roadmap -->
    <node name="rosplan_roadmap_server" pkg="rosplan_interface_mapping" type="rpsimplemapServer" respawn="false" output="screen">
		<param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="data_path" value="$(find rosplan_planning_system)/common/" />
        <param name="waypoint_file" value="$(find rosplan_demos)/scripts/waypoints_redone.txt" />
        <param name="fixed_frame" value="map" />
    </node>



</launch>
